* {
    box-sizing: border-box;
}

body {
    background: rgb(235, 218, 143);
    font-family: 'Urbanist', sans-serif;
}

h1 {
    font-size: 3rem;
    color: rgb(75, 125, 60)
}

canvas {
    display: block;
}